# =============== #
# Unity Generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Burst/IL2CPP
[Bb]urstCache/
[Aa]rtifacts/

# Unity Cache
sysinfo.txt

# ================== #
# Asset Store Download #
# ================== #
Assets/AssetStoreTools*

# ================= #
# Visual Studio/IDE #
# ================= #
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# JetBrains Rider
.idea/
*.iml

# =========== #
# OS / System #
# =========== #
.DS_Store
Thumbs.db

# ============ #
# OneDrive Fix #
# ============ #
~$*
